* {
  box-sizing: border-box;
  transition: background-color .4s ease, color .4s ease, box-shadow .4s ease, border .4s ease; }

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--clr); }

main {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 720px) {
    main {
      margin-top: 120px; } }
  main section {
    width: Min(800px, 94vw);
    margin: .5rem auto;
    padding-bottom: .5rem;
    position: relative;
    background: var(--clrComp);
    box-shadow: 0 0 0.5rem 0.3rem var(--clrBg); }

button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--clr);
  font-size: 1rem; }

h1 {
  padding-top: 1rem; }

h2 {
  padding-top: .5rem; }

h3 {
  color: var(--clr);
  position: absolute;
  top: -2rem;
  width: 100%;
  text-align: center; }

.add {
  height: 100%;
  font-size: 4rem;
  transform: rotate(45deg);
  position: relative;
  top: 5rem;
  color: var(--clrCompLight);
  text-shadow: 0 0 10px var(--clrComp);
  cursor: pointer; }
  .add span {
    color: var(--clrAccent);
    text-shadow: none; }
  .add:hover span {
    color: var(--clr); }
  .add.list-add {
    height: unset;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: .5rem; }

body {
  font-family: 'Ubuntu', sans-serif; }

h1 {
  color: var(--clrLoud);
  text-align: center;
  margin: .5rem; }
  h1 span {
    color: var(--clr); }
    h1 span:after {
      content: ':';
      color: var(--clrAccent); }

a {
  color: var(--clr);
  transition: all .2s ease;
  text-decoration: none; }
  a:hover {
    color: var(--clrLoud); }

header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: end;
  justify-content: space-around;
  background-color: var(--clrBg);
  box-shadow: 0 0.5rem 0.5rem var(--clrComp); }
  header img.avatar {
    padding: 1rem;
    height: 100%; }
  header nav {
    display: flex;
    justify-content: end;
    padding: .5rem 1rem; }
    header nav button {
      position: relative;
      text-align: center;
      padding: .4rem 1.2rem;
      margin: 0 .2rem;
      min-width: 80px; }
      header nav button:hover {
        background-color: var(--clrComp); }
      header nav button.active {
        color: var(--clrAccent); }
        header nav button.active:after {
          content: '\0000D7';
          position: absolute;
          bottom: -9px;
          width: 100%;
          left: 0; }
          @media screen and (max-width: 720px) {
            header nav button.active:after {
              left: -5px;
              width: unset;
              bottom: unset; } }
  @media screen and (max-width: 720px) {
    header {
      position: relative;
      height: unset;
      margin-bottom: 1rem; }
      header img.avatar {
        height: 80px; }
      header nav {
        flex-direction: column; }
        header nav a {
          padding: .2rem .6rem;
          min-width: unset; }
      header .add {
        font-size: 2.5rem;
        top: -1rem; } }

main section ul {
  list-style-type: none;
  padding: 0 .2rem; }
  main section ul li {
    position: relative;
    padding: .2rem 9rem .2rem 2rem;
    margin: .25rem .5rem;
    transition: box-shadow .4s ease;
    border-radius: 5px;
    cursor: pointer; }
    main section ul li:hover {
      box-shadow: 0 0 0.5rem 0.1rem var(--clrCompLight); }
      main section ul li:hover:after, main section ul li:hover span {
        opacity: .9 !important; }
    main section ul li[data-completed="true"] {
      opacity: .6; }
    main section ul li:hover::before, main section ul li[data-completed="true"]::before {
      background-color: var(--clrAccentDark); }
    main section ul li:before {
      content: '';
      position: absolute;
      left: .25rem;
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
      border: 1px solid var(--clrAccent); }
    main section ul li:after {
      content: '\0000D7';
      position: absolute;
      right: 1rem;
      color: var(--clrAccent);
      opacity: .3;
      transition: opacity .4s ease; }
    main section ul li[data-importance="2"]::after {
      content: '\0000D7\0000D7';
      opacity: .4; }
    main section ul li[data-importance="3"]::after {
      content: '\0000D7\0000D7\0000D7';
      opacity: .5; }
    main section ul li[data-importance="4"]::after {
      content: '\0000D7\0000D7\0000D7\0000D7';
      opacity: .7; }
    main section ul li[data-importance="5"]::after {
      content: '\0000D7\0000D7\0000D7\0000D7\0000D7';
      opacity: .9; }
    main section ul li[data-importance="5"] {
      color: var(--clrLoud);
      font-weight: 700; }
    main section ul li span {
      font-size: 80%;
      font-weight: 700;
      position: absolute;
      right: 5rem;
      top: 5px;
      opacity: .25;
      transition: opacity .4s ease; }
    main section ul li img.edit-icon {
      position: relative;
      top: 1px;
      height: .9rem;
      margin-left: 2rem; }
      main section ul li img.edit-icon:hover {
        box-shadow: 0 0 0.5rem 0.1rem var(--clrCompLight);
        border-radius: 50%; }

main.completed-hidden li[data-completed="true"] {
  display: none; }

section.settings {
  margin-top: 4rem;
  padding: 1rem;
  text-align: center;
  background-image: url("../assets/settings.svg");
  background-repeat: no-repeat;
  background-position: -3% -15%;
  background-size: 10%; }
  section.settings select, section.settings span.toggle {
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--clrCompLight);
    padding: .2rem .5rem;
    border: none;
    color: var(--clr);
    cursor: default;
    opacity: .7;
    transition: opacity .2s ease; }
    section.settings select:hover, section.settings span.toggle:hover {
      opacity: 1; }

dialog {
  border: none;
  width: Min(680px, 84vw);
  background: var(--clrBg);
  border-radius: 5px;
  box-shadow: 0 0 0.5rem var(--clrAccentDark);
  padding: 1rem;
  margin-top: 10%;
  overflow: visible; }
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.6); }
  dialog form {
    display: grid;
    grid-template-areas: "todo todo todo" "duedate importance submit"; }
    dialog form input, dialog form button {
      border: none;
      background: var(--clrComp);
      color: var(--clr);
      padding: .25rem .5rem; }
      dialog form input:focus-visible, dialog form button:focus-visible {
        outline: none; }
    dialog form input[type="text"] {
      grid-area: todo;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: var(--clrAccentDark);
      font-size: 1.4rem;
      margin-bottom: 1.2rem;
      width: 100%;
      transition: border-color 1s ease; }
    dialog form input[type="date"] {
      grid-area: duedate;
      text-align: center; }
    dialog form input[type="range"] {
      grid-area: importance;
      width: 40%;
      margin-left: 5%; }
      @media screen and (max-width: 720px) {
        dialog form input[type="range"] {
          width: 90%; } }
    dialog form button[type="submit"] {
      grid-area: submit; }
      dialog form button[type="submit"]:hover {
        background: var(--clrCompLight); }
    dialog form.invalid input[type="text"] {
      border-color: var(--clrAccentDark); }
