* {
  box-sizing: border-box;

  transition:
    background-color .4s ease,
    color .4s ease,
    box-shadow .4s ease,
    border .4s ease;
}

body {
  margin: 0;

  background-color: var(--bg);
  color: var(--clr);
}

main {
  @media screen and (min-width: $mobileMax) {
    margin-top: 120px;
  }

  display: flex;
  flex-direction: column;

  section {
    width: Min(800px, 94vw);
    margin: .5rem auto;
    padding-bottom: .5rem;
    position: relative;

    background: var(--clrComp);
    box-shadow: 0 0 .5rem .3rem var(--clrBg);
  }

}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--clr);
  font-size: 1rem;
}

h1 {
  padding-top: 1rem;
}
h2 {
  padding-top: .5rem;
}
h3 {
  color: var(--clr);
  position: absolute;
  top: -2rem;
  width: 100%;
  text-align: center;
}

.add {
  height: 100%;
  font-size: 4rem;
  transform: rotate(45deg);
  position: relative;
  top: 5rem;
  color: var(--clrCompLight);
  text-shadow: 0 0 10px var(--clrComp);
  cursor: pointer;

  span {
    color: var(--clrAccent);
    text-shadow: none;
  }

  &:hover span {
    color: var(--clr);
  }

  &.list-add {
    height: unset;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: .5rem;
  }
}
