* {
  box-sizing: border-box;

  transition:
    background-color .4s ease,
    color .4s ease,
    box-shadow .4s ease,
    border .4s ease;
}

body {
  margin: 0;

  background-color: var(--bg);
  color: var(--clr);
}

main {
  @media screen and (min-width: $mobileMax) {
    margin-top: 120px;
  }

  display: flex;
  flex-direction: column;

  section {
    width: Min(800px, 94vw);
    margin: .5rem auto;

    background: var(--clrComp);
    box-shadow: 0 0 .5rem .3rem var(--clrBg);
  }
}
