section.settings {
  margin-top: 4rem;
  padding: 1rem;
  text-align: center;

  select, span.toggle {
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--clrCompLight);
    padding: .2rem .5rem;
    border: none;
    color: var(--clr);
    cursor: default;
    opacity: .7;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }
}
