body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  color: var(--clrLoud);
  text-align: center;
  margin: .5rem;

  span {
    color: var(--clr);
    &:after {
      content: ':';
      color: var(--clrAccent);
    }
  }
}

a {
  color: var(--clr);
  transition: all .2s ease;
  text-decoration: none;

  &:hover {
    color: var(--clrLoud);
  }
}
