// $flatBg: #212121;
// $flatClr: #CCC;
// $flatClrBg: #353535;
// $flatComp: #454545;
// $flatLoud: #FFF;
// $flatAccent: #F2565D;

$mobileMax: 720px;


// :root {
//   --bg: #{$flatBg};
//   --clr: #{$flatClr};

//   --clrBg: #{$flatClrBg};
//   --clrComp: #{$flatComp};
//   --clrCompLight: #{lighten($flatComp, 5%)};
//   --clrLoud: #{$flatLoud};
//   --clrAccent: #{$flatAccent};
//   --clrAccentDark: #{darken(desaturate($flatAccent, 50%), 30%)};
// }

:root {
  --bg: #212121;
  --clr: #CCC;
  --clrBg: #353535;
  --clrComp: #454545;
  --clrCompLight: #525252;
  --clrLoud: #FFF;
  --clrAccent: #F2565D;
  --clrAccentDark: #77383b; }
